/**
* Navigation bar
*/
.tih-nav-bar {
    position: sticky;
    top: 0;
    @apply z-50 w-full bg-background;

    .tih-nav-bar__button {
        @apply text-sm lg:text-base px-4 py-2 leading-none bg-accent text-background font-bold;
    }

    .tih-nav-bar__tofuburger {
        .tih-nav-bar__tofuburger-button {
            >div {
                @apply bg-accent h-[3px] w-7;

                &+div {
                    @apply mt-1;
                }
            }
        }
    }
}

/**
* Mobile Nav
*/

.tih-mobile-menu {
    @apply fixed z-40 top-0 left-0 bg-accent w-full h-full flex justify-center items-center opacity-0 invisible;

    .tih-mobile-menu__button-inner {
        @apply translate-y-full opacity-0;

        .tih-mobile-menu__button {
            @apply bg-background font-black w-fit p-2 text-2xl block;
        }
    }
}

/**
* Landing Page Hero
*/
.tih-proceed-button {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    max-width: unset;
    transform: translateX(-50%);
    @apply flex justify-center translate-y-full opacity-0;

    span {
        font-size: 2rem;
        @apply text-background bg-accent py-4 px-16 cursor-pointer;
    }
}

/**
* Detail toggles
*/

.tih-details-toggle {
    &+& {
        @apply mt-4;
    }

    .tih-details-toggle__content {
        @apply max-h-0 overflow-hidden;
    }
}


/**
* Downloadables
*/

.tih-downloadables-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem;
    @apply mt-8;

    .tih-downloadable {
        position: relative;

        a {
            cursor: pointer;
        }

        p {
            position: absolute;
            bottom: 0;
            left: 0;
            font-size: 1rem;
            line-height: 1;
            padding: 0.5rem;

            @apply bg-accent bg-opacity-90 text-white;
        }
    }
}


/**
* Alert
*/
.tih-alert {
    @apply bg-accent text-white fixed top-0 left-0 w-full z-[999999] cursor-pointer;

    &__container {
        @apply flex justify-between items-center gap-4 overflow-hidden max-h-0;
    }

    &__content {
        @apply px-3 py-6;
    }

    &__title {
        @apply text-2xl md:text-4xl mb-0 text-white;
    }

    &__close {
        position: absolute;
        bottom: -1rem;
        right: 0;
        padding: 0.5rem;
        opacity: 0;
        visibility: hidden;
        @apply bg-white text-accent;
    }
}